/* Stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Stili header */
header h1{
    margin: 20px;
    color: rgb(226, 43, 113);
    font-weight:bold;
}
/* Stili main */

#testo{
    font-size: 15.5px;

}
.container_generale{
    width: 80%;
    margin: 50px auto;
}

.container_celle{
    width: 100%;
    margin: 30px;
}
.celle{
    background-color: black;
    border: 1px solid green;
    float: left;
    width: calc(100% / 3 - 20px);
    min-height: 70px;
    margin: 0 10px;

}

.container_celle::after{
    content: "";
    display: table;
    clear: both;
} 