/* Stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Stili header */
header h1{
    margin: 20px;
    color: rgb(226, 43, 113);
    font-weight:bold;
}
/* Stili main */

#testo{
    font-size: 15.5px;

}
.container_generale{
    width: 80%;
    margin: 50px auto;
}

.container_celle{
    width: 100%;
    margin: 30px 0px;
}
.celle{
    background-color: black;
    border: 1px solid green;
    float: left;
    width: calc(100% / 3 - 20px);
    min-height: 70px;
    margin: 0 10px;
    padding-top:8px;
    color: white;
    text-align: left;
}

.container_celle::after{
    content: "";
    display: table;
    clear: both;
} 

.img{
    float: left;
    width: 70px;
    margin-right: 20px;
    margin-top: -8px;
}

.nome{
    font-weight: bold; 
    margin-top: 10px;
}

.ruolo{
    font-size: 12px;
}

.email{
    font-size: 12px;
    color: rgb(83, 178, 237);
    text-decoration: none;
}

.email::after{
    content: "";
    display: table;
    clear: both;
} 